{% extends 'parent.html' %}

{% block content %}
<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Billing Address Start -->
        {% if message %}"<span><h6 class="alert alert-primary">{% for messages in message %}{{ messages }}{% endfor %}</h6></span>{% endif %}
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">Información de pago</span>
            </h5>
            <div id="danger">
                {% if "cart" not in request.session %}
                <div class="alert alert-danger mt-3" role="alert">
                  No hay productos en el carrito
                </div>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="bg-light p-30 mb-5">
                <h6>Nombre: </h6>
                <p>{{ user.first_name }}</p>
                <h6>Email: </h6>
                <p>{{ user.email }}</p>
                <h6>Dirección: </h6>
                <p>{{ user.client.direccion }}</p>
                <h6>Número telefónico: </h6>
                <p>{{ user.client.numero_telefonico }}</p>
                <a href="{% url 'shipping' %}" class="btn btn-primary">Realizar pedido</a>
            </div>
            {% else %}
            <div class="bg-light p-30 mb-5">
                <form method="post" action="{% url 'shipping' %}">
                    {% csrf_token %}
                    <div class="p-2">
                        <h5>{{ checkout_form.nombre.label }}</h5>
                        {{ checkout_form.nombre }}
                        {{ checkout_form.nombre.errors }}
                    </div>
                    <div class="p-2">
                        <h5>{{ checkout_form.email.label }}</h5>
                        {{ checkout_form.email }}
                        {{ checkout_form.email.errors }}
                    </div>
                    <div class="p-2">
                        <h5>{{ checkout_form.numero_telefonico.label }}</h5>
                        {{ checkout_form.numero_telefonico }}
                        {{ checkout_form.numero_telefonico.errors }}
                    </div>
                    {% if "shipping" in request.session and "Elige domicilio" not in request.session.shipping %}
                    <div class="p-2">
                        <h5>{{ checkout_form.direccion.label }}</h5>
                        {{ checkout_form.direccion }}
                        {{ checkout_form.direccion.errors }}
                    </div>
                    <div class="p-2">
                        <h5>{{ checkout_form.prueba_que_eres_humano.label }}</h5>
                        {{ checkout_form.prueba_que_eres_humano }}
                        {{ checkout_form.prueba_que_eres_humano.errors }}
                    </div>
                    <p>* Su pedido será entregado dentro de 48h luego de realizado.</p>
                    <p>* El horario de entrega es de 12 p.m a 5 p.m.</p>
                    <p>* Si no está disponible en este horario, por favor, comunicar a quien reciba su pedido.</p>
                    <p>* Si desea asegurar que su pedido sea entregado luego de pasadas las 48h deberá pagar por adelantado.</p>
                    {% else %}
                    <div class="p-2">
                        <h5>{{ checkout_form.prueba_que_eres_humano.label }}</h5>
                        {{ checkout_form.prueba_que_eres_humano }}
                        {{ checkout_form.prueba_que_eres_humano.errors }}
                    </div>
                    <p>* Si desea domicilio por favor elegir en el carrito su dirección. De no ser así, la dirección se le informará al realizar el pedido.</p>
                    <p>* Su pedido será guardado por 24h luego de realizado. Si quiere guardar su pedido por más tiempo deberá pagar en adelantado.</p>
                    {% endif %}
                    {% if "cart" in request.session %}<button type="submit" class="btn btn-primary">Realizar pedido</button>{% endif %}
                </form>
            </div>
            {% endif %}
        </div>
        <!-- Billing Address End -->

        <!-- Order Summary Start -->
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">Order Summary</span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    {% for product in products %}
                    <div class="d-flex justify-content-between">
                        <p>{{product.quantity}}x{{ product.name }}</p>
                        <p>${{ product.subtotal }}</p>
                    </div>
                    {% endfor %}
                    {% if "shipping" in request.session and "Elige domicilio" not in request.session.shipping %}
                    <div class="d-flex justify-content-between">
                        <p>Domicilio</p>
                        {% for j in request.session.shipping.values %}
                        <p>${{ j }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5 id="total-import">${{ total }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Order Summary End -->
    </div>
</div>
<!-- Checkout End -->
{% endblock %}